<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>
    <center><b><h1>Keval Dhandhukiya</b></center>
        <center><b><h1>23010101064</b></center>
    
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [3]:
print("enter the mass:")
mass = int(input())

print("enter the height:")
height = int(input())

def calculate_BMI(mass,h):
    print("BMI = ",(mass/(h**2)))

calculate_BMI(mass,height)

enter the mass:

 5

enter the height:

 6

BMI =  0.1388888888888889

### 02) Write a function that add first n numbers.

In [17]:
print("enter the number:")
number = int(input())

def sum1(number):
    sum = 0

    for i in range(0,n+1):
        sum += i

    print(sum)
sum1(number)

enter the number:

 4

10

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [6]:
def is_prime(number):
    if number <= 1:
        return 0
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return 0
    return 1
num = 7
result = is_prime(num)
print(f"Is {num} a prime number? {'Yes' if result == 1 else 'No'}")

Is 7 a prime number? Yes

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [37]:
print("enter the starting range:")
number2 = int(input())

print("enter the ending range:")
number3 = int(input())

def prime(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    return prime_list

prime(number2,number3)

enter the starting range:

 1

enter the ending range:

 10

[2, 3, 5, 7]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [45]:
def isPalindrome(s):
    return s == s[::-1]

s = "nayan"
ans = isPalindrome(s)

if ans:
    print("True")
else:
    print("False")

True

### 06) Write a function that returns the sum of all the elements of the list.

In [43]:
a = [10, 20, 30, 40]
res = 0

for val in a:
  
    res += val

print(res)

100

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [49]:
t1 = (2,4,6)
t2 = (3,5,7)

l1 = (t1,t2)

def summation(l1):

	sum = 0
    
	for i,j,k in l1:
		sum += i
	return sum

summation(l1)

5

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [55]:
print("enter an value:")
n1 = int(input())

def nth_fibonacci(n):
  
    if n <= 1:
        return n
      
    return nth_fibonacci(n - 1) + nth_fibonacci(n - 2)

result = nth_fibonacci(n1)
print(result)

enter an value:

 6

8

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [8]:
def get_student_name(rollno, student_dict):
    return student_dict.get(rollno, "Student not found")

dict1 = {101: 'Ajay', 102: 'Rahul', 103: 'Jay', 104: 'Pooja'}
rollno = 103

student_name = get_student_name(rollno, dict1)
print(f"The name of the student with roll number {rollno} is {student_name}.")

The name of the student with roll number 103 is Jay.

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [10]:
scores = [200, 456, 300, 100, 234, 678]

def fn10(scores):
    sum1 = 0
    for i in scores:
        if(i%10 == 0):
            sum1 += i
    return sum1

print(fn10(scores))

600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [12]:
def invert_dictionary(original_dict):
    return {value: key for key, value in original_dict.items()}

original_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
inverted_dict = invert_dictionary(original_dict)
print("Original Dictionary:", original_dict)
print("Inverted Dictionary:", inverted_dict)

Original Dictionary: {'a': 10, 'b': 20, 'c': 30, 'd': 40}
Inverted Dictionary: {10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [14]:
def is_pangram(input_string):
    alphabet = set('abcdefghijklmnopqrstuvwxyz')
    input_characters = set(input_string.lower())
    return alphabet.issubset(input_characters)

test_string = "The quick brown fox jumps over the lazy dog"
if is_pangram(test_string):
    print(f'"{test_string}" is a pangram.')
else:
    print(f'"{test_string}" is NOT a pangram.')

"The quick brown fox jumps over the lazy dog" is a pangram.

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [16]:
def fn13(s):
    dict1 = {"upper":0,"lower":0}
    for i in s:
        if(i.islower()):
            dict1["lower"]+=1
        else:
            dict1["upper"]+=1
    print(f"no_upper={dict1["upper"]},no_lower={dict1["lower"]}")

s1 = "AbcDEfgh"
fn13(s1)

no_upper=3,no_lower=5

### 14) Write a lambda function to get smallest number from the given two numbers.

In [18]:
ans = lambda x,y : x if x>y else y
print(ans(10,20))

20

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [34]:
l = ["Keval","Karan","Darshan","Ironman","Superman","Homeleander"]

l2 = list(filter(lambda i : len(i)>7,l))

print(l2)

['Superman', 'Homeleander']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [26]:
l = ["keval","karan","darshan","ironman","superman"]

l = list(map(lambda i : i.capitalize(),l))

print(l)

['Keval', 'Karan', 'Darshan', 'Ironman', 'Superman']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [32]:
#position argument
# def add(a,b):
#     return a+b
# print(add(10,20))


#Keyword Argument
# def add3(a,b,c):
#     return a+b+c

# print(add3(b=10,c=20,a=5))
#print(add3(b=10,c=20,10))  it's not working



#default argument
# def add4(a,b,c,d=10):
#     return a+b+c+d
# print(add4(10,20,30,40))
# print(add4(10,20,30))


# *args
# def add5(*args):
#     sum1 = 0
#     for i in args:
#         sum1 += i
#     return sum1
# print(add5(1,2,3,4,5))


# **kwargs
# def addstu(**kwargs):
#     for i in kwargs.items():
#         print(i)

# addstu(Keval=384,Chirag=373,Harsh=123,Darshan=245)

#only keyword
#def fn2(*,a,b,c):
#    print(a,b,c,sep=" ")
#fn2(b=10,a=2,c=3)

#only positional

def fn(a,b,c,/):
    print(a,b,c,sep=" ")
fn(1,2,3)

1 2 3