<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>
    <center><b><h1>Keval Dhandhukiya</b></center>
        <center><b><h1>23010101064</b></center>
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [3]:
a=10
b=20
print("addition is :",a+b)

addition is : 30

### 03) WAP to check the type of the variable.

In [5]:
print(type(a))

<class 'int'>

### 04) WAP to calculate simple interest.

In [7]:
p = float(input("ENTER NUMBER"))
r = float(input("ENTER NUMBER"))
n = float(input("ENTER NUMBER"))
print((p*r*n)/100)

ENTER NUMBER 2
ENTER NUMBER 3
ENTER NUMBER 4

0.24

### 05) WAP to calculate area and perimeter of a circle.

In [9]:
r = float(input("ENTER NUMBER"))
print(3.14*r*r)

ENTER NUMBER 4

50.24

### 06) WAP to calculate area of a triangle.

In [11]:
h = float(input("ENTER NUMBER"))
b = float(input("ENTER NUMBER"))
print(0.5*h*b)

ENTER NUMBER 3
ENTER NUMBER 4

6.0

### 07) WAP to compute quotient and remainder.

In [13]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c=a/b
x=int(c)
r = a%b
print(x)
print(r)

ENTER NUMBER 6
ENTER NUMBER 7

0
6

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [15]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c = (a*(9/5)+32)
d = ((b-32)*(5/9))
print(c)
print(d)

ENTER NUMBER 1
ENTER NUMBER 3

33.8
-16.11111111111111

### 09) WAP to find the distance between two points in 2-D space.

In [17]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c = int(input("ENTER NUMBER"))
d = int(input("ENTER NUMBER"))
x = ((((b-a)*2)+((d-c)*2))**0.5)
print(x)

ENTER NUMBER 2
ENTER NUMBER 3
ENTER NUMBER 5
ENTER NUMBER 7

2.449489742783178

### 10) WAP to print sum of n natural numbers.

In [19]:
n = int(input("ENTER NUMBER"))
x = (n*(n+1)/2)
print(x)

ENTER NUMBER 2

3.0

### 11) WAP to print sum of square of n natural numbers.

In [21]:
n = int(input("ENTER NUMBER"))
x = ((n*(n+1)*(2*n+1))/6)
print(x)

ENTER NUMBER 4

30.0

### 12) WAP to concate the first and last name of the student.

In [31]:
a="eladldkjlk"
b="nsncmxn"
print(a+b)

eladldkjlknsncmxn

### 13) WAP to swap two numbers.

In [25]:
n = int(input("ENTER NUMBER"))
m = int(input("ENTER NUMBER"))
t=n
n=m
m=t
print("n",n)
print("m",m)

ENTER NUMBER 2
ENTER NUMBER 3

n 3
m 2

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [27]:
km = int(input("ENTER NUMBER"))
m = (km*1000)
feet = (km*3280.84)
inches = (km*39370.1)
cm = (km*100000)
print(km)
print(m)
print(feet)
print(inches)
print(cm)

ENTER NUMBER 5

5
5000
16404.2
196850.5
500000

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [29]:
day = int(input("ENTER NUMBER"))
month = int(input("ENTER NUMBER"))
year = int(input("ENTER NUMBER"))
print(day,month,year,sep="-")

ENTER NUMBER 10
ENTER NUMBER 2
ENTER NUMBER 4

10-2-4